@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

#content {
  display: flex;
  justify-content: space-between;
}

#authors {
}

#articles {
}

#categories {
}
